//COLORS
$text: #1F333F;
$coffee: #6F4E37;
$primary: #007EFC;
$accent: #FFBD29;
$border: #E6E6E6;
$inverse-text: #fff;

//FONT FAMILY
$font-family: "Ubuntu", sans-serif;

//FONT STYLES
$bannerTitleSize: 28px;
$bannerTitleWeight: 700;
$bannerSubtitleSize: 14px;
$bannerSubtitleWeight: 400;

$sortTextSize: 14px;
$sortTextWeight: 400;

$shopTitleSize: 18px;
$shopTitleWeight: 500;

$shopPriceSize: 14px;
$shopPriceWeight: 400;
